.container {
  text-align: center;
}

.population-box {
  display: inline-block;
  border: 1px solid black;
  width: 400px;
  max-width: 90%;
}

.population-header {
  font-size: medium;
}

.population-number {
  font-size: x-large;
}
