.subheader,
.form,
.search-button {
  text-align: center;
  margin-top: 10px;
}

.form-control {
  height: 30px;
  width: 400px;
  max-width: 70%;
  text-align: center;
}

input {
  height: 60px;
}

input:disabled {
  opacity: 0.3;
}

input:focus {
  outline: none;
}
